* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --bg-color: #10375c;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* COMMON */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 999px;
  font-size: 1.8rem;
  text-align: center;
  border: none;
  color: #fff;
  background: #2e80ce;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.heading {
  color: #10375c;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.desc {
  color: #575f66;
  font-weight: 300;
}

/* HEADER */
.header {
  background: var(--bg-color);
  height: 100vh;
}

/* navbar */
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 8px;
}

.header-fixed {
  position: sticky;
  top: -22px;
  z-index: 1;
}

.nav__list {
  display: flex;
  gap: 42px;
}

.nav__link {
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
}

.nav__link--active,
.nav__link:hover {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.nav__link--active::before {
  display: inline-block;
  content: "";
  margin-right: 8px;
  margin-bottom: 3%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.register__login {
  margin-right: 28px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
}

.register__signup {
  min-width: 104px;
  line-height: 44px;
}

/* hero */
.hero {
  margin-top: 68px;
  display: flex;
  align-items: center;
}

.hero__content {
  width: 44%;
}

.hero__heading {
  text-align: start;
  font-size: 7rem;
  line-height: 1.14;
  letter-spacing: -1.4px;
  color: #fff;
}

.hero__desc {
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #c9d2da;
}

.hero__row {
  margin-top: 38px;
  gap: 38px;
}

.hero__phonenumber {
  margin-left: 38px;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #fff;
}

.hero__media {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 56%;
}
.hero__img {
  width: 330px;
  height: 540px;
  object-fit: cover;
  border-radius: 6px;
}

.hero__img.second {
  width: 210px;
  height: 410px;
  z-index: -1;
  margin-left: -6px;
}
